@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .drawer-overlay {
    @apply absolute -m-2 min-h-screen w-screen cursor-pointer bg-gray-900/60 px-0 py-0;
  }
  .drawer-offlay {
    @apply hidden;
  }
}

@layer base {
  html {
    font-family: "Rubik", sans-serif;
  }
}

.ql-container {
  min-height: 20rem;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.ql-editor {
  height: 100%;
  flex: 1;
  overflow-y: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .ql-container {
    min-height: 20rem;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .ql-editor {
    height: 100%;
    flex: 1;
    overflow-y: auto;
    width: 100%;
  }
}
